# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
data={} #empty dictionary
type(data)

dict

In [2]:
data1=dict() #empty dictionary
type(data1)

dict

In [3]:
data={'Alabama':'Montgomery', 
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Salem'} #key:value

In [4]:
print(data)
type(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

dict

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [5]:
data={'Alabama':'Montgomery', 
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Salem'} #key:value

In [6]:
data['Kentucky']

'Frankfort'

In [7]:
data['Alabama']

'Montgomery'

In [19]:
data['Louisiana'] #if you are accessing a key which is not present, it reads key error

KeyError: 'Louisiana'

### Update elements of a dictionary and add new elements

In [9]:
day={1:'Monday',
    2:'Tuesday',
    4:['Thursday','Friday'],
    5:('Saturday','Sunday')}

In [10]:
#Monday
day[1]

'Monday'

In [11]:
#Friday
day[4][1] #[key][index]

'Friday'

In [13]:
#Saturday
day[5][0]

'Saturday'

#### Update values as key is unique and immutable, value is mutable

In [14]:
#update Sunday to Holiday
day[5][1]='Holiday'

TypeError: 'tuple' object does not support item assignment

In [17]:
#update Thursday to Holiday
day[4][0]='Holiday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ['Holiday', 'Friday'],
 5: ('Saturday', 'Sunday')}

In [18]:
#update Monday to Holiday
day[1]='Holiday'
day

{1: 'Holiday',
 2: 'Tuesday',
 4: ['Holiday', 'Friday'],
 5: ('Saturday', 'Sunday')}

### `get` and `update` methods

In [20]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [21]:
data.get('Arizona') # .get looking for the key to return the value

'Pheonix'

In [22]:
data.get('Louisiana') #not generating an error and thats how its different from access an element by its key

In [24]:
# update old value to new and add new key value pair
print(data)
data.update({'Kentucky':'Louisville', 'Louisiana':'Baton Rouge'})

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [25]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge'}

In [26]:
data.update({'alabama':'Montgomery'})  #only way to update key, assign a new key
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Ohio': 'Salem', 'Louisiana': 'Baton Rouge', 'alabama': 'Montgomery'}

### Delete dictionary items using `del` and `pop`

In [28]:
data   #del - delete by key
del data['Alabama']

In [29]:
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [30]:
del data['Ohio']
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [31]:
deleted_state=data.pop('Arizona')
print("Deleted State", deleted_state)

Deleted State Pheonix

In [32]:
data

{'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Louisiana': 'Baton Rouge',
 'alabama': 'Montgomery'}

In [33]:
# Delete Montgomery 
deleted_capitol=data.pop('alabama')
print(deleted_capitol)
print(data)

Montgomery
{'Georgia': 'Atlanta', 'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'}

In [34]:
del data # Deleted entire dictionary

In [35]:
data

NameError: name 'data' is not defined

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [36]:
data={'Alabama':'Montgomery', 
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Salem'} #key:value

In [37]:
#number of element/value in a dictionary
len(data)

5

In [38]:
#Extract only keys
print(data.keys())

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [39]:
#Extract Value
print(data.values())

dict_values(['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Salem'])

In [40]:
#Item/ key value pair
print(data.items())

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Pheonix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Salem')])

In [41]:
type(data.items())

dict_items

### Loop through a dictionary

In [42]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [44]:
# loop through the dictionary keys 
for i in data.keys(): #unpack dict items
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [45]:
#loop through the values
for j in data.values():
    print("The capitol is: ", j)

The capitol is:  Montgomery
The capitol is:  Pheonix
The capitol is:  Atlanta
The capitol is:  Frankfort
The capitol is:  Salem

In [48]:
#loop through the items
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Pheonix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Salem')
<class 'tuple'>

In [52]:
#tuple unpacking
for i,j in data.items():
    print("State: ", i, "Capitol: ", j)
    print(type(i),type(j))

State:  Alabama Capitol:  Montgomery
<class 'str'> <class 'str'>
State:  Arizona Capitol:  Pheonix
<class 'str'> <class 'str'>
State:  Georgia Capitol:  Atlanta
<class 'str'> <class 'str'>
State:  Kentucky Capitol:  Frankfort
<class 'str'> <class 'str'>
State:  Ohio Capitol:  Salem
<class 'str'> <class 'str'>

### Convert dictionary to lists using `list()` function

In [53]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [54]:
list(data.values())

['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Salem']

In [55]:
tuple(data.keys())

('Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio')

### A List in a Dictionary

In [1]:
favorite_language={
    'Jen':['Python','ruby'],
    'sarah':['C'],
    'edward':['ruby', 'Java'],
    'Phil':['Python', 'Haskell']
}

In [2]:
for name, languages in favorite_language.items():
    print("\n"+name.title()+"\'s favorite languages are: ")
    #print(languages)
    for i in languages:
        print("\t\t\t\t"+i.title())

Jen's favorite languages are:
				Python
				Ruby

Sarah's favorite languages are:
				C

Edward's favorite languages are:
				Ruby
				Java

Phil's favorite languages are:
				Python
				Haskell

###  A Dictionary in a Dictionary

In [3]:
user={
    'einstein':{
        'first':'albert',
        'last':'einstein',
        'location':'princeton'
    },
    'mcurie':{
        'first':'marie',
        'last':'curie',
        'location':'paris'
    }
}

In [4]:
user

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [7]:
for username, user_info in user.items():
    print("\nUser Name: ", username)
    fullname=user_info['first']+" "+user_info['last']
    location=user_info['location']
    
    print("The full name is: "+ fullname.title())
    print("The location is: "+ location.title())

User Name:  einstein
The full name is: Albert Einstein
The location is: Princeton

User Name:  mcurie
The full name is: Marie Curie
The location is: Paris